* {
    -webkit-highlight: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none
}

html, body {
    position: relative
    margin: 0;
    padding: 0;
    /* -webkit-text-size-adjust: 100%; */
    background-color: rgba(255, 255, 255, .3);
    width: 100vw;
    height: 100vh;
}

.hidden {
    display: none !important;
}

.button {
    display: inline-block;
    width: 6vw;
    height: 6vh;
    margin: 1vw;
    background-color: rgba(0, 0, 255, 1);
}

.button.active {
    background-color: rgba(0, 100, 100, 1);
}

.readout {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    width: 50vw;
    visibility: transparent;
}

.log {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 75%;
    text-align: right;
}

.log-entry {
    display: block;
    font-size: .5em;
    margin-right: 1em;
}

.controls {
    display: inline-block;
    width: 100%;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
}

.p {
    display: inline-block;
    font-size: 1em;
    min-width: 2em;
}

.cos {
    display: inline-block;
    font-size: 1em;
    min-width: 2em;
    color: rgba(100, 0, 0, 1); 
}

.axes {
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 50%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    -webkit-transform-origin: bottom left 0;
    transform: rotate(0deg);
}

.axes.init {
    border-bottom: 1px solid rgba(0, 255, 255, 1.0);
    border-left: 1px solid rgba(255, 255, 255, 1.0);
}

.axes.touch {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}


#xy-outer {
    display: inline-block;
    position: absolute;
    top: 6%;
    bottom: 6%;
    left: 6%;
    right: 6%;
    background-color: rgba(255, 0, 0, .3);
    
}

#xy-inner {
    width: 100%;
    height: 100%;
}

#camera {
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-bottom-color: black;
    transform: rotate(0deg);
}

#object {
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-bottom-color: yellow;
    transform: rotate(0deg);
}

#touch {
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(255, 255, 255, 0.2);
    transform: rotate(0deg);
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

